// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// // Variables
// @import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css);

@import '~bulma-helpers/css/bulma-helpers.min.css';

// Variables
// @import "bulma";




 .tr.is-warning,
 .table.is-warning tr {
    background-color: #ffdd57 !important;
}

.tr.is-danger,
.table.is-danger tr {
    background-color: #ff3860 !important;
}

.tr.is-success,
.table.is-success tr {
    background-color: #23d160 !important;
}

.has-background-dark a.has-text-light:hover, .has-background-dark a.has-text-light:focus {
    color: #363636 !important;
}

// #board {
//     width: 800px;
//     height: 800px;
//     box-shadow: 0 0 1px #ddd, 0 2px 2px #aaa;
//     margin: 20px 0;
//     background-image: url('/assets/images/trivial3.png');
//     background-size: contain;
//   }

  #outerBoard #board {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
    background-image: url('/assets/images/trivial3.png');
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
#outerboard #board #innerBoard {
    // padding-top: 63.35%; /* height/width of image */
    display: block;
    width: 100%;
    // height: 0;
}
